.Carousel {
  width: 100%;
  height: 100%;
}

.Carousel_slides:focus {
  outline: none;
  box-shadow: none;
}
.Carousel_slides_image {
  height: inherit;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.our_clients_text {
  text-align: center;
  color: #595959;
  font-family: "Questrial", Sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  margin-top: 90px;
}
.ver50 {
  margin-bottom: 60px;
}

.about_us_content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 60px;
}
.our_clients_container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about_us_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 650px;
  background-color: #fff;
}
.pad50 {
  padding: 0 50px;
}

.pad200 {
  padding: 0 200px;
}
.about_us_images {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.about_us_text {
  text-align: center;
  color: #595959;
  font-family: "Questrial", Sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  margin-top: 30px;
  margin-bottom: 2vh;
}
.about_us_description {
  text-align: center;
  padding: 0 50px;
  color: #7a7a7a;
  font-family: "Questrial", Sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.subHeading {
  /* height: 80%; */
  background-position: center -50px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px #0009;
  font-family: "Questrial", Sans-serif;
  font-size: 40px;
  font-weight: 100;
  /* padding-left: 5vw; */
  /* padding-right: 5vw; */
  display: flex;
  justify-content: center;
}
.subHeading::before {
  filter: brightness(50%);
}

.navbar:hover {
  text-decoration: none;
  color: #ccc;
  padding: 0 20px;
}
